.hidden {
  bottom: -100px;
}

.error {
  background-color: var(--bad);
}

.process {
  background-color: var(--text);
}

p {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
}

svg {
  padding-left: 10px;
  width: 17px;
}
