@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);

:root {
  --primary: #1967be;
  --primary-l: #a1c4eb;
  --text: #0a1e34;
  --bg: white;
  --good: #27a607;
  --bad: red;

  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;

  color: var(--text);
}

button {
  border: none;
  padding: 12px 70px;
  font-size: 20px;
  background-color: var(--primary);
  color: var(--bg);
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-light {
  color: var(--text);
  background-color: var(--primary-l);
}

.haze-border {
  box-shadow: 0px 0px 7px 1px rgba(10, 30, 52, 0.51);
  border-radius: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px;
}

.input-wrapper p {
  margin: 3px 0px;
  color: var(--primary);
}

input {
  border: none;
  padding: 10px;
  font-size: 15px;
  margin: 10px;
  width: 300px;
  background-color: var(--primary-l);
  border-radius: 10px;
  margin: 0px;
}

.smooth {
  transition: all 0.3s ease-in-out;
}

.wide-input {
  width: 600px;
}
