@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);

:root {
  --primary: #1967be;
  --primary-l: #a1c4eb;
  --primary-ll: #a1c4eb85;

  --text: #0a1e34;
  --bg: white;
  --good: #27a607;
  --bad: red;
  --bad-l: rgba(255, 0, 0, 0.22);

  --warn: orange;

  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;

  color: var(--text);
}
main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 270px;
}
button {
  border: none;
  padding: 12px 70px;
  font-size: 20px;
  background-color: var(--primary);
  color: var(--bg);
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-medium {
  padding: 12px;
  width: 200px;
}

.btn-extra-margin {
  margin: 40px 10px;
}

.btn-light {
  color: var(--text);
  background-color: var(--primary-l);
}

.icon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin: 1px;
  background-color: var(--bg);
}

.icon-btn-bad:hover {
  background-color: var(--bad-l) !important;
}

.icon-btn:hover {
  background-color: var(--primary-ll);
}

.icon-btn img {
  width: 22px;
  height: 22px;
}

.haze-border {
  box-shadow: 0px 0px 7px 1px rgba(10, 30, 52, 0.51);
  border-radius: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px;
}

.input-wrapper p {
  margin: 3px 0px;
  color: var(--primary);
}

.form-wrapper {
  margin: 15px;
}

input {
  border: none;
  padding: 10px;
  font-size: 15px;
  margin: 10px;
  width: 300px;
  background-color: var(--primary-l);
  border-radius: 10px;
  margin: 0px;
}

input::placeholder {
  color: var(--bg);
}

table {
  margin: 15px;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 10px;
}

td {
  padding: 7px 0px;
}

::file-selector-button {
  display: none;
}

.smooth {
  transition: all 0.3s ease-in-out;
}

.wide-input {
  width: 600px;
}
