<h1>Solidox</h1>
<h2>GEC Barton Hill</h2>

<ul>
  <a routerLink="/dashboard" routerLinkActive="active"
    ><img src="/assets/icons/docs.svg" /><label>Documents</label></a
  >
  <a routerLink="/bulk-issue" routerLinkActive="active"
    ><img src="/assets/icons/bulk_issue.svg" /><label>Bulk Issue</label></a
  >
  <a routerLink="/bulk-verify" routerLinkActive="active"
    ><img src="/assets/icons/bulk_verify.svg" /><label>Bulk Verify</label>
  </a>
</ul>

<hr />
<div id="spacer"></div>

<a routerLink="/settings" routerLinkActive="active" class="bottom"
  ><img src="/assets/icons/settings.svg" /><label>Settings</label>
</a>
<div id="usage">
  <div id="out"><div id="in"></div></div>
  <p>3GB of 10GB</p>
</div>
